.hotelField {
    position: relative;
    float: left;
    width: 70%;
}

.roomPrice {
    float: right;
}

.navbar {
    width: 95%;
    background-color: rgb(158, 7, 158);
    position: relative;
}

.navlink {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.667);
    background-color: rgb(158, 7, 158);
    float:left;
    width:33%;
    height: 100%;
    text-align: center;
    line-height:40px;
    border-bottom-style:solid;
    border-bottom-color:rgb(158, 7, 158);
}

.navlink:hover {
    color: rgba(255,255,255);
    background-color: rgb(158, 7, 158);
    border-bottom-style:solid;
    border-bottom-color:rgba(255, 255, 255, 0.667);
}

.navlinkSelected {
    background-color: rgb(158, 7, 158);
    color: rgba(255,255,255);
    border-bottom-style:solid;
    border-bottom-color:rgb(117, 4, 117);
}

.price {
    color: orange;
    font-size: 50px;
    font-weight: bold;
}

.roomPrice {
    height: fit-content;
    position: absolute;
    top: 30px;
    right: 55px;
}

.hotelName {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    color: rgb(134, 133, 133);
    font-size: 40px;
}

.starRating {
    color: rgb(134, 133, 133);
    font-size: 20px;
}

.hotelHeader {
    position: relative;
}